!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "fr", :lang => "fr"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title Marion Duprey - CV
    %link{:href => "/css/style.css", :rel => "stylesheet", :type => "text/css"}
    %script{:type => "text/javascript", :src => "/js/analytics.js"}
    %meta{:name => "keywords", :content => "ruby, rails, développeur, developpeur, marion, duprey, marion duprey, developpeur ruby, cv"}
    %meta{:name => "description", :content => "CV de Marion Duprey, développeuse php et ruby"}
    %meta{:name => "author", :content => "Marion Duprey" }
    %meta{:name => "robots", :content => "all" }
    %meta{:name => "subject", :content => "CV"
  %body
    #container
      #sidebar
        %h1 Marion DUPREY
        %img{:alt => "Marion Duprey", :src => "/images/photo.jpg"}
        %ul#details
          %li marion.duprey@gmail.com
          %li Lyonnaise sans permis de conduire
          %li J'aime le ruby, les démopartys, mon blog, le dessin, le piano, écouter de la musique, découvrir toutes sortes de trucs
          %li Je n'aime pas les gens fermés d'esprit, me faire attaquer physiquement par quoi que ce soit, être énervée
      #content
        %h1.orange J'ai travaillé
        .h1-triangle-bottom
        - settings.config['work'].keys.sort.each do |work|
          - work = settings.config['work'][work]
          %h2
            = work['name']
            %small== #{work['begin']} - #{work['end']}
          .position= work['position']
          %p= work['description']

        %h1.orange J'ai appris
        .h1-triangle-bottom
        - settings.config['known'].keys.sort.each do |known|
          - known = settings.config['known'][known]
          .floatleft
            %h3= known['name']
            %ul
              - known['list'].each do |k|
                %li= k
        .clear
        		
        %h1.orange J'ai eu le papier
        .h1-triangle-bottom
        - settings.config['studies'].each do |studies|
          - studies = studies[1]
          %h2
            = studies['name']
            %small== #{studies['begin']} - #{studies['end']}
          .position= studies['position']
          %p= studies['description']
          	
